*{
    font-family:  'Space Mono', monospace;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(13, 25, 43);
}
.main-container{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.container{
    margin-top:30px;
    margin-right: 100px;
    margin-left:100px;
    border-radius: 10px;    
    background-color: rgb(20, 37, 61);
    height:450px;
    width:250px;
}
.equillbrium{
    border-radius: 10px;
    margin: 20px;
    height: 190px;
    width: 210px;
}
.heading {
    padding-left:20px;
    padding-bottom: 30px;
    color:white;
  font-size: 7px;
}
.para{
    font-size:13px;
    padding-left: 15px;
    padding-bottom: 30px;
    color:  rgb(72, 97, 133);
}
.value-time,.time{
    display: flex;
    flex: 1;
}
.value{
    display: flex;
    color: rgb(83, 251, 251);
    font-size:12px;
    flex: 1;
    padding-left:20px;
    padding-bottom: 15px;
}
.ethereum{
    height:15px;
    width: 10px;
    padding-right: 7px;
}
.clock{
    padding-left:10px;
    padding-right: 5px;
    height:10px;
    width:10px;
}
.time{
    font-size:10px;
    color:rgb(72, 97, 133);
}
hr{
    margin: 10px 30px;
    color:rgb(72, 97, 133);
    outline: none;
}
.creator{
    display: flex;
}
.creator-pic{
    padding-left:20px;
    height:30px;
    width: 30px;
}
.credits{
    padding-left: 10px;
    font-size:12px;
    padding-top: 13px;
    display: flex;
    color:rgb(72, 97, 133) ;
}
.name{
    color: rgb(255, 255, 255);
}